{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "fkwm2uq8ac6ji"
  },
  "info": {
    "title": "naiveart",
    "version": "1.0",
    "contact": {
      "name": "Alena G",
      "url": "https://alena.example.com",
      "email": "alena.guillaume4@gmail.com"
    },
    "termsOfService": "https://alena.example.com/termsofuse",
    "license": {
      "name": "MIT Licence",
      "url": "https://mit-license.org/"
    },
    "summary": "API for an art gallery",
    "description": "Learning project: API for managing a Naive Art gallery and shop"
  },
  "servers": [
    {
      "url": "https://loutre.stoplight.io"
    }
  ],
  "tags": [
    {
      "name": "Artist",
      "description": "End-artist information"
    },
    {
      "name": "Artwork",
      "description": "End-artwork information"
    },
    {
      "name": "Users",
      "description": "End-user information"
    }
  ],
  "paths": {
    "/users/{userId}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "Id of an existing user."
        }
      ],
      "get": {
        "summary": "Get User Info by User ID",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "Get User Alice Smith": {
                    "value": {
                      "id": 142,
                      "firstName": "Alice",
                      "lastName": "Smith",
                      "email": "alice.smith@gmail.com",
                      "dateOfBirth": "1997-10-31",
                      "emailVerified": true,
                      "signUpDate": "2019-08-24"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          }
        },
        "operationId": "get-users-userId",
        "description": "Retrieve the information of the user with the matching user ID."
      },
      "patch": {
        "summary": "Update User Information",
        "operationId": "patch-users-userId",
        "responses": {
          "200": {
            "description": "User Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "Updated User Rebecca Baker": {
                    "value": {
                      "id": 13,
                      "firstName": "Rebecca",
                      "lastName": "Baker",
                      "email": "rebecca@gmail.com",
                      "dateOfBirth": "1985-10-02",
                      "emailVerified": false,
                      "createDate": "2019-08-24"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "description": "Update the information of an existing user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "If a new email is given, the user's email verified property will be set to false."
                  },
                  "dateOfBirth": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Update First Name": {
                  "value": {
                    "firstName": "Rebecca"
                  }
                },
                "Update Email": {
                  "value": {
                    "email": "rebecca@gmail.com"
                  }
                },
                "Update Last Name & Date of Birth": {
                  "value": {
                    "lastName": "Baker",
                    "dateOfBirth": "1985-10-02"
                  }
                }
              }
            }
          },
          "description": "Patch user properties to update."
        }
      }
    },
    "/user": {
      "post": {
        "summary": "Create New User",
        "operationId": "post-user",
        "responses": {
          "200": {
            "description": "User Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "New User Bob Fellow": {
                    "value": {
                      "id": 12,
                      "firstName": "Bob",
                      "lastName": "Fellow",
                      "email": "bob.fellow@gmail.com",
                      "dateOfBirth": "1996-08-24",
                      "emailVerified": false,
                      "createDate": "2020-11-18"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Required Information"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "dateOfBirth"
                ]
              },
              "examples": {
                "Create User Bob Fellow": {
                  "value": {
                    "firstName": "Bob",
                    "lastName": "Fellow",
                    "email": "bob.fellow@gmail.com",
                    "dateOfBirth": "1996-08-24"
                  }
                }
              }
            }
          },
          "description": "Post the necessary fields for the API to create a new user."
        },
        "description": "Create a new user."
      }
    },
    "/artists/artworks": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artwork"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artwork"
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "artworkId": 1,
                        "title": "Бородатые лица зверей",
                        "created": "2015",
                        "description": "По дороге в мастерскую я подбираю какую-нибудь фанерку или дощечку. Ничего не выпиливаю, не равняю края. Оставляю всё как есть. Проще простого, пойти и купить лист ДВП, но мне интереснее найти обрезок на помойке. У него ведь уже есть какая-то своя судьба, а я ему продлеваю жизнь! Беру краску, которая окажется под рукой, и просто крашу. Двигаю рукой — вверх-вниз, туда-сюда… Медитирую. Думаю, что в это время моей рукой водит Бог. Во как! Надо доверять себе. Не мешать. Не бороться с самим собой. Уважительно относиться. Рисовать я не умел и до сих пор не умею, в этом пора признаться. Но творить люблю. Прямо сам балдею! Как-то, когда я работал подмастерьем у Баки Урманче, он подозвал меня и говорит: «Вот, будем, Витя, с тобой картину писать». Я ему честно сказал, что не умею. А он: «Я тебя научу, не переживай. И не таких…» Но главный урок мастера: не бояться прежде всего самого себя!",
                        "techniques": "ДВП, масло",
                        "dimensions": "неизв",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-1timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 2,
                        "title": "Котенок",
                        "created": "1973",
                        "description": "Картины Еленок красочны, но цвет для нее – это раскраска предметов и плоскостей, в результате в работах больше пестроты, чем цветового единства. Художнице, несомненно, присуще чувство юмора и изобретательность в умении комбинировать мотивы, почерпнутые из самых разных источников. Ее всегда отличала любознательность, желание, как можно больше увидеть, во всем принять участие. Ее картины демонстрировались на десятках выставок, часто вместе с произведениями профессиональных художников",
                        "techniques": "картон, гуашь",
                        "dimensions": "60 × 45",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-2elen.jpg",
                        "artistId": 2,
                        "artistName": "Татьяна Еленок"
                      },
                      {
                        "artworkId": 3,
                        "title": "Вера Лукницкая",
                        "created": "1986",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "78,5 x 88",
                        "price": 160000,
                        "available": true,
                        "image": "/naive/img/item-3kony.jpg",
                        "artistId": 4,
                        "artistName": "Натта Конышева"
                      },
                      {
                        "artworkId": 4,
                        "title": "В ледяном плену",
                        "created": "2019",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "160 x 110",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-4shaj.jpg",
                        "artistId": 6,
                        "artistName": "Альфрид Шаймарданов"
                      },
                      {
                        "artworkId": 5,
                        "title": "Променад Командора",
                        "created": "2019",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "70 x 100",
                        "price": 280000,
                        "available": true,
                        "image": "/naive/img/item-5karn.jpg",
                        "artistId": 3,
                        "artistName": "Лев Карнаухов"
                      },
                      {
                        "artworkId": 6,
                        "title": "Del Mar",
                        "created": "2017",
                        "description": "Нет описания",
                        "techniques": "холст, акрил",
                        "dimensions": "90 x 110",
                        "price": 46000,
                        "available": true,
                        "image": "/naive/img/item-6frol.jpeg",
                        "artistId": 7,
                        "artistName": "Илья Фролов"
                      },
                      {
                        "artworkId": 7,
                        "title": "Вера.Надежда.Любовь",
                        "created": "2013",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "120 x 100",
                        "price": 550000,
                        "available": true,
                        "image": "/naive/img/item-7shaj.jpg",
                        "artistId": 8,
                        "artistName": "Альфрид Шаймарданов"
                      },
                      {
                        "artworkId": 8,
                        "title": "Барселонский байк",
                        "created": "2015",
                        "description": "Нет описания",
                        "techniques": "холст, акрил, смешанная техника",
                        "dimensions": "50 x 80",
                        "price": 26000,
                        "available": true,
                        "image": "/naive/img/item-8frol.jpeg",
                        "artistId": 7,
                        "artistName": "Илья Фролов"
                      },
                      {
                        "artworkId": 9,
                        "title": "200 лет Бородино",
                        "created": "2012",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "29,5 x 40",
                        "price": 25000,
                        "available": true,
                        "image": "/naive/img/item-9timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 10,
                        "title": "К вечеру",
                        "created": "1976",
                        "description": "Нет описания",
                        "techniques": "оргалит, масло",
                        "dimensions": "75 x 70",
                        "price": 100000,
                        "available": true,
                        "image": "/naive/img/item-10karn.jpg",
                        "artistId": 3,
                        "artistName": "Лев Карнаухов"
                      },
                      {
                        "artworkId": 11,
                        "title": "Преображение",
                        "created": "2011",
                        "description": "— Главное в живописи  — быть интересным. Само умение рисовать не делает человека художником, потому как умение рисовать (писать) — это понятие относительное, а умение чувствовать — вполне конкретное. Работа художника — это глас вопиющего в пустыне. Хорошо, чтобы его услышали. Кому-то везет больше, раздается  эхо. Его «А-аааа!» разносится по всему миру.",
                        "techniques": "ДВП, масло",
                        "dimensions": "70 × 50",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-11timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 12,
                        "title": "Пора тополиного пуха",
                        "created": "2010",
                        "description": "Интуитивно подбирая краски, работая в условиях испепеляющей жары 2010 года он передал настроение того лета, воплотил на ДВП масляными красками атмосферу не выносимой жары.",
                        "techniques": "ДВП, масло",
                        "dimensions": "60 × 50",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-12timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 13,
                        "title": "На пруду",
                        "created": "1992",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "58 x 54",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-13rzha.jpg",
                        "artistId": 5,
                        "artistName": "Михаил Ржанников"
                      },
                      {
                        "artworkId": 14,
                        "title": "Сакс протяжно тянет родину",
                        "created": "год не указан",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "61 x 51",
                        "price": 60000,
                        "available": true,
                        "image": "/naive/img/item-14timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 15,
                        "title": "Кибела",
                        "created": "2002",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "70 x 70",
                        "price": 200000,
                        "available": true,
                        "image": "/naive/img/item-15karn.jpg",
                        "artistId": 3,
                        "artistName": "Лев Карнаухов"
                      },
                      {
                        "artworkId": 16,
                        "title": "В ожидании чуда",
                        "created": "2013",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "100 x 80",
                        "price": 600000,
                        "available": true,
                        "image": "/naive/img/item-16shaj.jpg",
                        "artistId": 6,
                        "artistName": "Альфрид Шаймарданов"
                      },
                      {
                        "artworkId": 17,
                        "title": "Диснейленд. Париж",
                        "created": "1996",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "неизв",
                        "price": 180000,
                        "available": true,
                        "image": "/naive/img/item-17kony.jpg",
                        "artistId": 6,
                        "artistName": "Натта Конышева"
                      },
                      {
                        "artworkId": 18,
                        "title": "Голубка",
                        "created": "год не указан",
                        "description": "Нет описания",
                        "techniques": "холст, печать",
                        "dimensions": "92 x 100",
                        "price": 12000,
                        "available": true,
                        "image": "/naive/img/item-18timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 19,
                        "title": "Дети Д. Широкова",
                        "created": "1980",
                        "description": "Нет описания",
                        "techniques": "оргалит, масло",
                        "dimensions": "55 x 45,5",
                        "price": 120000,
                        "available": true,
                        "image": "/naive/img/item-19kony.jpg",
                        "artistId": 6,
                        "artistName": "Натта Конышева"
                      },
                      {
                        "artworkId": 20,
                        "title": "Праздник",
                        "created": "2005",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "75 x 75",
                        "price": 143000,
                        "available": true,
                        "image": "/naive/img/item-20timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 21,
                        "title": "Кот",
                        "created": "1978",
                        "description": "Произведения Генералича — камерных размеров и написаны маслом по стеклу. Подобным образом в старину писались иконки в альпийских областях Хорватии и Словении — свет, проходя через стекло, создает особо насыщенный колорит. Художник верен народному промыслу и в манере изображать мир: уплощенное изображение, четкость контура, ритмичность ковровой композиции, в которой все детали равновелики и равнозначны. Народное видение мира, наивное и мудрое, сочетается с опытом знакомства художника с массовой изобразительной продукцией — кичем, что породило неповторимый сплав детской непосредственности восприятия со смелостью художественных решений. Творчество Генералича, оторвавшееся от народного ремесла и не примкнувшее к «образованному» искусству, образовало особую нишу, влившись в интернациональный художественный процесс. ",
                        "techniques": "стекло, масло",
                        "dimensions": "41 x 54",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-21gene.jpg",
                        "artistId": 1,
                        "artistName": "Иван Генералич"
                      },
                      {
                        "artworkId": 22,
                        "title": "Река жизни",
                        "created": "2013",
                        "description": "Образ будущей картины возникает спонтанно. Любая ситуация, сцена, фраза, сказанная кем-то или прочитанная мною, может натолкнуть на сюжет новой картины. Например, взять мою работу «Река жизни» с зебрами. Как-то случайно увидел в программе «Дискавери», как зебры, с риском для жизни, во время ежегодной миграции переходят реку. Река кишит крокодилами, а на берегу их могут поджидать ещё и львы. У меня сразу возникла ассоциация с нашей жизнью. Иногда, чтобы добиться цели, ты упорно стремишься туда, где, кажется, и лучше, и безопаснее. Преодолеваешь множество препятствий, а достичь цели порой так и не удаётся.",
                        "techniques": "холст, масло",
                        "dimensions": "130 х 100",
                        "price": 0,
                        "available": false,
                        "image": "/naive/img/item-22shaj.jpg",
                        "artistId": 8,
                        "artistName": "Альфрид Шаймарданов"
                      },
                      {
                        "artworkId": 23,
                        "title": "На золотом крыльце",
                        "created": "2013",
                        "description": "Нет описания",
                        "techniques": "масло",
                        "dimensions": "44 x 74",
                        "price": 42900,
                        "available": true,
                        "image": "/naive/img/item-23timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 24,
                        "title": "Ночь полной луны",
                        "created": "2005",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "150 x 150",
                        "price": 950000,
                        "available": true,
                        "image": "/naive/img/item-24shaj.jpg",
                        "artistId": 8,
                        "artistName": "Альфрид Шаймарданов"
                      },
                      {
                        "artworkId": 25,
                        "title": "…и медные трубы",
                        "created": "2019",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "90 x 70",
                        "price": 200000,
                        "available": true,
                        "image": "/naive/img/item-25karn.jpg",
                        "artistId": 3,
                        "artistName": "Лев Карнаухов"
                      },
                      {
                        "artworkId": 26,
                        "title": "Джаз",
                        "created": "2006",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "63 x 89",
                        "price": 143000,
                        "available": true,
                        "image": "/naive/img/item-26timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 27,
                        "title": "3 часа. Февраль",
                        "created": "2003",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "70 x 50",
                        "price": 170000,
                        "available": true,
                        "image": "/naive/img/item-27karn.jpg",
                        "artistId": 3,
                        "artistName": "Лев Карнаухов"
                      },
                      {
                        "artworkId": 28,
                        "title": "Благовещенье",
                        "created": "2003",
                        "description": "Нет описания",
                        "techniques": "холст, масло",
                        "dimensions": "71 x 57,5",
                        "price": 143000,
                        "available": true,
                        "image": "/naive/img/item-28timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      },
                      {
                        "artworkId": 29,
                        "title": "Первоцвет",
                        "created": "2014",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "45 x 60",
                        "price": 42900,
                        "available": true,
                        "image": "/naive/img/item-29timo.jpg",
                        "artistId": 6,
                        "artistName": "Виктор Тимофеев"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "408": {
            "description": "Request Timeout"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-artworks",
        "description": "Fetches list of all artworks"
      },
      "parameters": []
    },
    "/artists/artworks/{artworkId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "artworkId",
          "in": "path",
          "required": true,
          "description": "Fetches single piece of artwork by id"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artwork"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artwork"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "artworkId": 1,
                      "title": "Бородатые лица зверей",
                      "created": "2015",
                      "description": "По дороге в мастерскую я подбираю какую-нибудь фанерку или дощечку. Ничего не выпиливаю, не равняю края. Оставляю всё как есть. Проще простого, пойти и купить лист ДВП, но мне интереснее найти обрезок на помойке. У него ведь уже есть какая-то своя судьба, а я ему продлеваю жизнь! Беру краску, которая окажется под рукой, и просто крашу. Двигаю рукой — вверх-вниз, туда-сюда… Медитирую. Думаю, что в это время моей рукой водит Бог. Во как! Надо доверять себе. Не мешать. Не бороться с самим собой. Уважительно относиться. Рисовать я не умел и до сих пор не умею, в этом пора признаться. Но творить люблю. Прямо сам балдею! Как-то, когда я работал подмастерьем у Баки Урманче, он подозвал меня и говорит: «Вот, будем, Витя, с тобой картину писать». Я ему честно сказал, что не умею. А он: «Я тебя научу, не переживай. И не таких…» Но главный урок мастера: не бояться прежде всего самого себя!",
                      "techniques": "ДВП, масло",
                      "dimensions": "неизв",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-1timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 2": {
                    "value": {
                      "artworkId": 2,
                      "title": "Котенок",
                      "created": "1973",
                      "description": "Картины Еленок красочны, но цвет для нее – это раскраска предметов и плоскостей, в результате в работах больше пестроты, чем цветового единства. Художнице, несомненно, присуще чувство юмора и изобретательность в умении комбинировать мотивы, почерпнутые из самых разных источников. Ее всегда отличала любознательность, желание, как можно больше увидеть, во всем принять участие. Ее картины демонстрировались на десятках выставок, часто вместе с произведениями профессиональных художников",
                      "techniques": "картон, гуашь",
                      "dimensions": "60 × 45",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-2elen.jpg",
                      "artistId": 2,
                      "artistName": "Татьяна Еленок"
                    }
                  },
                  "Example 3": {
                    "value": {
                      "artworkId": 3,
                      "title": "Вера Лукницкая",
                      "created": "1986",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "78,5 x 88",
                      "price": 160000,
                      "available": true,
                      "image": "/naive/img/item-3kony.jpg",
                      "artistId": 4,
                      "artistName": "Натта Конышева"
                    }
                  },
                  "Example 4": {
                    "value": {
                      "artworkId": 4,
                      "title": "В ледяном плену",
                      "created": "2019",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "160 x 110",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-4shaj.jpg",
                      "artistId": 8,
                      "artistName": "Альфрид Шаймарданов"
                    }
                  },
                  "Example 5": {
                    "value": {
                      "artworkId": 5,
                      "title": "Променад Командора",
                      "created": "2019",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "70 x 100",
                      "price": 280000,
                      "available": true,
                      "image": "/naive/img/item-5karn.jpg",
                      "artistId": 3,
                      "artistName": "Лев Карнаухов"
                    }
                  },
                  "Example 6": {
                    "value": {
                      "artworkId": 6,
                      "title": "Del Mar",
                      "created": "2017",
                      "description": "Нет описания",
                      "techniques": "холст, акрил",
                      "dimensions": "90 x 110",
                      "price": 46000,
                      "available": true,
                      "image": "/naive/img/item-6frol.jpeg",
                      "artistId": 7,
                      "artistName": "Илья Фролов"
                    }
                  },
                  "Example 7": {
                    "value": {
                      "artworkId": 7,
                      "title": "Вера.Надежда.Любовь",
                      "created": "2013",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "120 x 100",
                      "price": 550000,
                      "available": true,
                      "image": "/naive/img/item-7shaj.jpg",
                      "artistId": 8,
                      "artistName": "Альфрид Шаймарданов"
                    }
                  },
                  "Example 8": {
                    "value": {
                      "artworkId": 8,
                      "title": "Барселонский байк",
                      "created": "2015",
                      "description": "Нет описания",
                      "techniques": "Холст, акрил, смешанная техника",
                      "dimensions": "50 x 80",
                      "price": 26000,
                      "available": true,
                      "image": "/naive/img/item-8frol.jpeg",
                      "artistId": 7,
                      "artistName": "Илья Фролов"
                    }
                  },
                  "Example 9": {
                    "value": {
                      "artworkId": 9,
                      "title": "200 лет Бородино",
                      "created": "2012",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "29,5 x 40",
                      "price": 25000,
                      "available": true,
                      "image": "/naive/img/item-9timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 10": {
                    "value": {
                      "artworkId": 10,
                      "title": "К вечеру",
                      "created": "1976",
                      "description": "Нет описания",
                      "techniques": "оргалит, масло",
                      "dimensions": "75 x 70",
                      "price": 100000,
                      "available": true,
                      "image": "/naive/img/item-10karn.jpg",
                      "artistId": 3,
                      "artistName": "Лев Карнаухов"
                    }
                  },
                  "Example 11": {
                    "value": {
                      "artworkId": 11,
                      "title": "Преображение",
                      "created": "2011",
                      "description": "— Главное в живописи  — быть интересным. Само умение рисовать не делает человека художником, потому как умение рисовать (писать) — это понятие относительное, а умение чувствовать — вполне конкретное. Работа художника — это глас вопиющего в пустыне. Хорошо, чтобы его услышали. Кому-то везет больше, раздается  эхо. Его «А-аааа!» разносится по всему миру.",
                      "techniques": "ДВП, масло",
                      "dimensions": "70 × 50",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-11timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 12": {
                    "value": {
                      "artworkId": 12,
                      "title": "Пора тополиного пуха",
                      "created": "2010",
                      "description": "Интуитивно подбирая краски, работая в условиях испепеляющей жары 2010 года он передал настроение того лета, воплотил на ДВП масляными красками атмосферу не выносимой жары.",
                      "techniques": "ДВП, масло",
                      "dimensions": "60 × 50",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-12timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 13": {
                    "value": {
                      "artworkId": 13,
                      "title": "На пруду",
                      "created": "1992",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "58 x 54",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-13rzha.jpg",
                      "artistId": 5,
                      "artistName": "Михаил Ржанников"
                    }
                  },
                  "Example 14": {
                    "value": {
                      "artworkId": 14,
                      "title": "Сакс протяжно тянет родину",
                      "created": "год не указан",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "61 x 51",
                      "price": 60000,
                      "available": true,
                      "image": "/naive/img/item-14timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 15": {
                    "value": {
                      "artworkId": 15,
                      "title": "Кибела",
                      "created": "2002",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "70 x 70",
                      "price": 200000,
                      "available": true,
                      "image": "/naive/img/item-15karn.jpg",
                      "artistId": 3,
                      "artistName": "Лев Карнаухов"
                    }
                  },
                  "Example 16": {
                    "value": {
                      "artworkId": 16,
                      "title": "В ожидании чуда",
                      "created": "2013",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "100 x 80",
                      "price": 600000,
                      "available": true,
                      "image": "/naive/img/item-16shaj.jpg",
                      "artistId": 8,
                      "artistName": "Альфрид Шаймарданов"
                    }
                  },
                  "Example 17": {
                    "value": {
                      "artworkId": 17,
                      "title": "Диснейленд. Париж",
                      "created": "1996",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "неизв",
                      "price": 180000,
                      "available": true,
                      "image": "/naive/img/item-17kony.jpg",
                      "artistId": 4,
                      "artistName": "Натта Конышева"
                    }
                  },
                  "Example 18": {
                    "value": {
                      "artworkId": 18,
                      "title": "Голубка",
                      "created": "год не указан",
                      "description": "Нет описания",
                      "techniques": "холст, печать",
                      "dimensions": "92 x 100",
                      "price": 12000,
                      "available": true,
                      "image": "/naive/img/item-18timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 19": {
                    "value": {
                      "artworkId": 19,
                      "title": "Дети Д. Широкова",
                      "created": "1980",
                      "description": "Нет описания",
                      "techniques": "оргалит, масло",
                      "dimensions": "55 x 45,5",
                      "price": 120000,
                      "available": true,
                      "image": "/naive/img/item-19kony.jpg",
                      "artistId": 4,
                      "artistName": "Натта Конышева"
                    }
                  },
                  "Example 20": {
                    "value": {
                      "artworkId": 20,
                      "title": "Праздник",
                      "created": "2005",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "75 x 75",
                      "price": 143000,
                      "available": true,
                      "image": "/naive/img/item-20timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 21": {
                    "value": {
                      "artworkId": 21,
                      "title": "Кот",
                      "created": "1978",
                      "description": "Произведения Генералича — камерных размеров и написаны маслом по стеклу. Подобным образом в старину писались иконки в альпийских областях Хорватии и Словении — свет, проходя через стекло, создает особо насыщенный колорит. Художник верен народному промыслу и в манере изображать мир: уплощенное изображение, четкость контура, ритмичность ковровой композиции, в которой все детали равновелики и равнозначны. Народное видение мира, наивное и мудрое, сочетается с опытом знакомства художника с массовой изобразительной продукцией — кичем, что породило неповторимый сплав детской непосредственности восприятия со смелостью художественных решений. Творчество Генералича, оторвавшееся от народного ремесла и не примкнувшее к «образованному» искусству, образовало особую нишу, влившись в интернациональный художественный процесс. ",
                      "techniques": "стекло, масло",
                      "dimensions": "41 x 54",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-21gene.jpg",
                      "artistId": 1,
                      "artistName": "Иван Генералич"
                    }
                  },
                  "Example 22": {
                    "value": {
                      "artworkId": 22,
                      "title": "Река жизни",
                      "created": "2013",
                      "description": "Образ будущей картины возникает спонтанно. Любая ситуация, сцена, фраза, сказанная кем-то или прочитанная мною, может натолкнуть на сюжет новой картины. Например, взять мою работу «Река жизни» с зебрами. Как-то случайно увидел в программе «Дискавери», как зебры, с риском для жизни, во время ежегодной миграции переходят реку. Река кишит крокодилами, а на берегу их могут поджидать ещё и львы. У меня сразу возникла ассоциация с нашей жизнью. Иногда, чтобы добиться цели, ты упорно стремишься туда, где, кажется, и лучше, и безопаснее. Преодолеваешь множество препятствий, а достичь цели порой так и не удаётся.",
                      "techniques": "холст, масло",
                      "dimensions": "130 х 100",
                      "price": 0,
                      "available": false,
                      "image": "/naive/img/item-22shaj.jpg",
                      "artistId": 8,
                      "artistName": "Альфрид Шаймарданов"
                    }
                  },
                  "Example 23": {
                    "value": {
                      "artworkId": 23,
                      "title": "На золотом крыльце",
                      "created": "2013",
                      "description": "Нет описания",
                      "techniques": "масло",
                      "dimensions": "44 x 74",
                      "price": 42900,
                      "available": true,
                      "image": "/naive/img/item-23timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 24": {
                    "value": {
                      "artworkId": 24,
                      "title": "Ночь полной луны",
                      "created": "2005",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "150 x 150",
                      "price": 950000,
                      "available": true,
                      "image": "/naive/img/item-24shaj.jpg",
                      "artistId": 8,
                      "artistName": "Альфрид Шаймарданов"
                    }
                  },
                  "Example 25": {
                    "value": {
                      "artworkId": 25,
                      "title": "…и медные трубы",
                      "created": "2019",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "90 x 70",
                      "price": 200000,
                      "available": true,
                      "image": "/naive/img/item-25karn.jpg",
                      "artistId": 3,
                      "artistName": "Лев Карнаухов"
                    }
                  },
                  "Example 26": {
                    "value": {
                      "artworkId": 26,
                      "title": "Джаз",
                      "created": "2006",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "63 x 89",
                      "price": 143000,
                      "available": true,
                      "image": "/naive/img/item-26timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 27": {
                    "value": {
                      "artworkId": 27,
                      "title": "3 часа. Февраль",
                      "created": "2003",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "70 x 50",
                      "price": 170000,
                      "available": true,
                      "image": "/naive/img/item-27karn.jpg",
                      "artistId": 3,
                      "artistName": "Лев Карнаухов"
                    }
                  },
                  "Example 28": {
                    "value": {
                      "artworkId": 28,
                      "title": "Благовещенье",
                      "created": "2003",
                      "description": "Нет описания",
                      "techniques": "холст, масло",
                      "dimensions": "71 x 57,5",
                      "price": 143000,
                      "available": true,
                      "image": "/naive/img/item-28timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  },
                  "Example 29": {
                    "value": {
                      "artworkId": 29,
                      "title": "Первоцвет",
                      "created": "2014",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "45 x 60",
                      "price": 42900,
                      "available": true,
                      "image": "/naive/img/item-29timo.jpg",
                      "artistId": 6,
                      "artistName": "Виктор Тимофеев"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "408": {
            "description": "Request Timeout"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-artworks-artworkId",
        "description": "Fetches one specifique artwork by its Id"
      }
    },
    "/artists": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artist"
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "id": 1,
                        "firstName": "Иван",
                        "lastName": "Генералич",
                        "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
                        "image": "/naive/img/artist-1gene.jpg",
                        "artworks": [
                          {
                            "artworkId": 21,
                            "title": "Кот",
                            "created": "1978",
                            "description": "Произведения Генералича — камерных размеров и написаны маслом по стеклу. Подобным образом в старину писались иконки в альпийских областях Хорватии и Словении — свет, проходя через стекло, создает особо насыщенный колорит. Художник верен народному промыслу и в манере изображать мир: уплощенное изображение, четкость контура, ритмичность ковровой композиции, в которой все детали равновелики и равнозначны. Народное видение мира, наивное и мудрое, сочетается с опытом знакомства художника с массовой изобразительной продукцией — кичем, что породило неповторимый сплав детской непосредственности восприятия со смелостью художественных решений. Творчество Генералича, оторвавшееся от народного ремесла и не примкнувшее к «образованному» искусству, образовало особую нишу, влившись в интернациональный художественный процесс.",
                            "techniques": "стекло, масло",
                            "dimensions": "41 x 54",
                            "price": 0,
                            "available": false,
                            "image": "/naive/img/item-21gene.jpg",
                            "artistId": 1,
                            "aristName": "Иван Генералич"
                          }
                        ]
                      },
                      {
                        "id": 2,
                        "firstName": "Татьяна",
                        "lastName": "Еленок",
                        "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
                        "image": "/naive/img/artist-2elen.jpg",
                        "artworks": [
                          {
                            "artworkId": 2,
                            "title": "Котенок",
                            "created": "1973",
                            "description": "Картины Еленок красочны, но цвет для нее – это раскраска предметов и плоскостей, в результате в работах больше пестроты, чем цветового единства. Художнице, несомненно, присуще чувство юмора и изобретательность в умении комбинировать мотивы, почерпнутые из самых разных источников. Ее всегда отличала любознательность, желание, как можно больше увидеть, во всем принять участие. Ее картины демонстрировались на десятках выставок, часто вместе с произведениями профессиональных художников",
                            "techniques": "картон, гуашь",
                            "dimensions": "60 × 45",
                            "price": 0,
                            "available": false,
                            "image": "/naive/img/item-2elen.jpg",
                            "artistId": 2,
                            "artistName": "Татьяна Еленок"
                          }
                        ]
                      },
                      {
                        "id": 3,
                        "firstName": "Лев",
                        "lastName": "Карнаухов",
                        "bio": "Я родился 7 июня 1945 в городе Уфа. Рисовать начал уже лет с четырёх. В семь лет послал в редакцию газеты «Пионерская правда» выдуманный мной портрет (разумеется под названием: «Незнакомка») ответ пришёл через полгода на фирменном бланке редакции, где мне посоветовали: либо описывать счастливое детство и построение коммунизма, либо навсегда бросить пачкать бумагу. Проревевшись, я всё же не бросил марать бумагу, но делал это в одиночестве и почти никому не показывал. Пока в 1958 году не открылся Уфимский Дворец Пионеров, куда я и записал себя сам в студию изобразительного искусства к замечательному педагогу Владимиру Степановичу Сарапулову. Появилась возможность делиться с другими. Но неуёмная натура моя восставала против регулярных посещений и я лишь приносил время от времени свои произведения. Странно, но ко мне всё равно относились с большим вниманием и постоянно поощряли мои поиски. Уже тогда я много придумывал и почти не писал с натуры (не умел и от этого и не хотел). А когда в апреле 1961 полетел Юрий Гагарин и мы все заболели Космосом, а я хронически и навсегда. В 1960 я впервые участвовал во Всесоюзной выставке детского творчества, где получил II премию (первую тогда почему-то не присуждали, а дали две вторых). Примерно в тоже время мои работы отобрали на выставку в Индии. Тогда же мне сделали предложение обучаться в Москве во ВГИКе, но по ряду причин осуществить эту возможность я не смог. Тогда же на выставке детского творчества во Дворце Пионеров, меня впервые попросили дать телеинтервью. В 1964 я поступил в Уфимское музыкально-педагогическое училище на Художественно-графическое отделение, где проучившись до 1968 и не закончив курс обучения, отбыл в Москву для поступления в ВУЗ. По приезду предпринял сходу попытку поступить в Суриковский институт, но там попросили диплом и случился облом... Следующий заход был был в Строгановку я был уже учёным и предложил сначала взглянуть на работы и тут же был допущен к сдаче вступительных экзаменов. Во время показа у меня спёрли что-то около 20 акварелей. Недобрал один балл и стал посещать вечернее платное отделение Суриковского на Таганке. Но через пару лет меня выслали из Москвы за связь с антисоветчиками (Даниэль и Синявский). Так я попал на Урал в Свердловск, где и продолжаю проживать в городе Екатеринбург. Тут моё творчество расцвело махровым цветом и в 1975 я участвовал в первой региональной молодёжной выставке, где был представлен 6 работами (вывесили только 5 почему-то). Участники этой выставки автоматически попадали в молодёжную секцию СХ и в дальнейшем через год уже собственно СХ, однако за негативные высказывания на закрытии выставки, мои документы благополучно потерялись где-то между Москвой и Свердловском. Далее были персональные и не очень выставки в городе, но сразу после 1996 такое безобразие прекратилось из-за ряда бытовых неурядиц (проживание в комнате 13 кв.м в коммунальной квартире с тремя детьми). Так продолжалось последующие 17 лет до 2013, когда чуть ли не силой меня уговорили выставиться в антикафе «Коммуникатор», там я выставил 74 картины в пяти залах. В 2017 принят в Творческий союз художников России, в 2018 принят в Евро-Азиатский союз художников. В 2019 принят в члены Союза русских художников. После этого выставляюсь охотно и везде, куда приглашают. Лев Карнаухов.",
                        "image": "/naive/img/artist-3karn.jpg",
                        "artworks": [
                          {
                            "artworkId": 5,
                            "title": "Променад Командора",
                            "created": "2019",
                            "description": "Нет описания",
                            "techniques": "холст, масло",
                            "dimensions": "70 x 100",
                            "price": 280000,
                            "available": true,
                            "image": "/naive/img/item-5karn.jpg",
                            "artistId": 3,
                            "artistName": "Лев Карнаухов"
                          },
                          {
                            "artworkId": 10,
                            "title": "К вечеру",
                            "created": "1976",
                            "description": "Нет описания",
                            "techniques": "оргалит, масло",
                            "dimensions": "75 x 70",
                            "price": 100000,
                            "available": true,
                            "image": "/naive/img/item-10karn.jpg",
                            "artistId": 3,
                            "artistName": "Лев Карнаухов"
                          },
                          {
                            "artworkId": 15,
                            "title": "string",
                            "created": "string",
                            "description": "string",
                            "techniques": "string",
                            "dimensions": "string",
                            "price": 0,
                            "available": true,
                            "image": "/naive/img/item-15karn.jpg",
                            "artistId": 3,
                            "aristName": "Лев Карнаухов"
                          },
                          {
                            "artworkId": 25,
                            "title": "…и медные трубы",
                            "created": "2019",
                            "description": "Нет описания",
                            "techniques": "холст, масло",
                            "dimensions": "90 x 70",
                            "price": 200000,
                            "available": true,
                            "image": "/naive/img/item-25karn.jpg",
                            "artistId": 3,
                            "artistName": "Лев Карнаухов"
                          },
                          {
                            "artworkId": 27,
                            "title": "3 часа. Февраль",
                            "created": "2003",
                            "description": "Нет описания",
                            "techniques": "холст, масло",
                            "dimensions": "70 x 50",
                            "price": 170000,
                            "available": true,
                            "image": "/naive/img/item-27karn.jpg",
                            "artistId": 3,
                            "artistName": "Лев Карнаухов"
                          }
                        ]
                      },
                      {
                        "id": 4,
                        "firstName": "Натта",
                        "lastName": "Конышева",
                        "bio": "Конышева Натта Ивановна (род. в 1935) — художник старшего поколения советского авангарда, мастер «репортажной живописи с элементами чудес». Окончила Московский полиграфический институт (1959), где ее наставником был Элий Белютин, создатель студии «Новая реальность». В 1960–70-х работала в промграфике, иллюстрировала книги для издательств «Географгиз», «Советский писатель» и Алтайского книжного издательства. Член Творческого объединения женщин-художников «Ирида». В 1974 вступила в МОССХ (Московский Союз Художников), а позднее — в Горком графиков: «И там и тут её недолюбливали. “Иди к своим авангардистам!” — говорили в МОССХе. “Иди в свой МОССХ!” — говорили в Горкоме графиков. Но Натта не унывала, пробиваясь на выставки и туда, и сюда» (художник Дмитрий Широков). За спиной художницы большой список экспозиций, который начинается с неформальных «квартирников» и полуразрешённых показов на свежем воздухе вроде «бульдозерной выставки». Персональные выставки Натты Конышевой минимум 7 раз были в Москве и дважды во Франции (1988, 1994). А весной 2016 в пространстве музея АРТ4 в Москве прошла выставка, приуроченная к 80-летию художницы, на которой были показаны произведения 1970–80-х годов из коллекции Игоря Маркина и живописные полотна 2000–2005 годов (собрание М. Егорова и Е. Комаренко). Работы Конышевой находятся в коллекциях Русского музея и Третьяковской галереи, а также в других крупных собраниях.",
                        "image": "/naive/img/artist-4kony.jpg",
                        "artworks": [
                          {
                            "artworkId": 3,
                            "title": "Вера Лукницкая",
                            "created": "1986",
                            "description": "Нет описания",
                            "techniques": "холст, масло",
                            "dimensions": "78,5 x 88",
                            "price": 160000,
                            "available": true,
                            "image": "/naive/img/item-3kony.jpg",
                            "artistId": 4,
                            "artistName": "Натта Конышева"
                          },
                          {
                            "artworkId": 17,
                            "title": "Диснейленд. Париж",
                            "created": "1996",
                            "description": "Нет описания",
                            "techniques": "холст, масло",
                            "dimensions": "неизв",
                            "price": 180000,
                            "available": true,
                            "image": "/naive/img/item-17kony.jpg",
                            "artistId": 4,
                            "artistName": "Натта Конышева"
                          },
                          {
                            "artworkId": 19,
                            "title": "Дети Д. Широкова",
                            "created": "1980",
                            "description": "Нет описания",
                            "techniques": "оргалит, масло",
                            "dimensions": "55 x 45,5",
                            "price": 120000,
                            "available": true,
                            "image": "/naive/img/item-19kony.jpg",
                            "artistId": 4,
                            "artistName": "Натта Конышева"
                          }
                        ]
                      },
                      {
                        "id": 5,
                        "firstName": "Михаил",
                        "lastName": "Ржанников",
                        "bio": "Ржанников Михаил Александрович (1930-2004) - художник наивного направления примитивизма. Основами живописной техники овладел в Липецком клубе самодеятельных художников.\nЕго картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду.\nРжанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой.\nМножество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.\nГоворят, наивное - значит непрофессиональное, неучёное. Не получил высшего художественного образования - значит ты - представитель наивного искусства. А как же тогда наш мэтр Анатолий Осмоловский? Или Джефф Кунс, самый дорогой американский художник, который, как написано в Википедии, 'будучи подростком, посещал школу в Художественном институте Чикаго и Мэрилендский художественный колледж' - и всё. Неужели они - наивные представители искусства, эти звёзды контемпорари арта? Нет, конечно. Настоящее наивное искусство , как любовь, простодушно и неискушенно. Творчество Ржанникова М.А. именно такое и есть.",
                        "image": "/naive/img/artist-5rzha.jpg",
                        "artworks": [
                          {
                            "artworkId": 13,
                            "title": "На пруду",
                            "created": "1992",
                            "description": "Нет описания",
                            "techniques": "ДВП, масло",
                            "dimensions": "58 x 54",
                            "price": 0,
                            "available": false,
                            "image": "/naive/img/item-13rzha.jpg",
                            "artistId": 5,
                            "artistName": "Михаил Ржанников"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "408": {
            "description": "Request Timeout"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-artists",
        "description": "Fetches list of all artists"
      }
    },
    "/artists/{artistId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "artistId",
          "in": "path",
          "required": true,
          "description": "single artist by id"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": 1,
                      "firstName": "Иван",
                      "lastName": "Генералич",
                      "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
                      "image": "/naive/img/artist-1gene.jpg",
                      "artworks": [
                        {
                          "artworkId": 21,
                          "title": "Кот",
                          "created": "1978",
                          "description": "Произведения Генералича — камерных размеров и написаны маслом по стеклу. Подобным образом в старину писались иконки в альпийских областях Хорватии и Словении — свет, проходя через стекло, создает особо насыщенный колорит. Художник верен народному промыслу и в манере изображать мир: уплощенное изображение, четкость контура, ритмичность ковровой композиции, в которой все детали равновелики и равнозначны. Народное видение мира, наивное и мудрое, сочетается с опытом знакомства художника с массовой изобразительной продукцией — кичем, что породило неповторимый сплав детской непосредственности восприятия со смелостью художественных решений. Творчество Генералича, оторвавшееся от народного ремесла и не примкнувшее к «образованному» искусству, образовало особую нишу, влившись в интернациональный художественный процесс.",
                          "techniques": "стекло, масло",
                          "dimensions": "41 x 54",
                          "price": 0,
                          "available": false,
                          "image": "/naive/img/item-21gene.jpg",
                          "artistId": 1,
                          "aristName": "Иван Генералич"
                        }
                      ]
                    }
                  },
                  "Example 2": {
                    "value": {
                      "id": 2,
                      "firstName": "Татьяна",
                      "lastName": "Еленок",
                      "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
                      "image": "/naive/img/artist-2elen.jpg",
                      "artworks": [
                        {
                          "artworkId": 2,
                          "title": "Котенок",
                          "created": "1973",
                          "description": "Картины Еленок красочны, но цвет для нее – это раскраска предметов и плоскостей, в результате в работах больше пестроты, чем цветового единства. Художнице, несомненно, присуще чувство юмора и изобретательность в умении комбинировать мотивы, почерпнутые из самых разных источников. Ее всегда отличала любознательность, желание, как можно больше увидеть, во всем принять участие. Ее картины демонстрировались на десятках выставок, часто вместе с произведениями профессиональных художников",
                          "techniques": "картон, гуашь",
                          "dimensions": "60 × 45",
                          "price": 0,
                          "available": false,
                          "image": "/naive/img/item-2elen.jpg",
                          "artistId": 2,
                          "artistName": "Татьяна Еленок"
                        }
                      ]
                    }
                  },
                  "Example 3": {
                    "value": {
                      "id": 3,
                      "firstName": "Лев",
                      "lastName": "Карнаухов",
                      "bio": "Я родился 7 июня 1945 в городе Уфа. Рисовать начал уже лет с четырёх. В семь лет послал в редакцию газеты «Пионерская правда» выдуманный мной портрет (разумеется под названием: «Незнакомка») ответ пришёл через полгода на фирменном бланке редакции, где мне посоветовали: либо описывать счастливое детство и построение коммунизма, либо навсегда бросить пачкать бумагу. Проревевшись, я всё же не бросил марать бумагу, но делал это в одиночестве и почти никому не показывал. Пока в 1958 году не открылся Уфимский Дворец Пионеров, куда я и записал себя сам в студию изобразительного искусства к замечательному педагогу Владимиру Степановичу Сарапулову. Появилась возможность делиться с другими. Но неуёмная натура моя восставала против регулярных посещений и я лишь приносил время от времени свои произведения. Странно, но ко мне всё равно относились с большим вниманием и постоянно поощряли мои поиски. Уже тогда я много придумывал и почти не писал с натуры (не умел и от этого и не хотел). А когда в апреле 1961 полетел Юрий Гагарин и мы все заболели Космосом, а я хронически и навсегда. В 1960 я впервые участвовал во Всесоюзной выставке детского творчества, где получил II премию (первую тогда почему-то не присуждали, а дали две вторых). Примерно в тоже время мои работы отобрали на выставку в Индии. Тогда же мне сделали предложение обучаться в Москве во ВГИКе, но по ряду причин осуществить эту возможность я не смог. Тогда же на выставке детского творчества во Дворце Пионеров, меня впервые попросили дать телеинтервью. В 1964 я поступил в Уфимское музыкально-педагогическое училище на Художественно-графическое отделение, где проучившись до 1968 и не закончив курс обучения, отбыл в Москву для поступления в ВУЗ. По приезду предпринял сходу попытку поступить в Суриковский институт, но там попросили диплом и случился облом... Следующий заход был был в Строгановку я был уже учёным и предложил сначала взглянуть на работы и тут же был допущен к сдаче вступительных экзаменов. Во время показа у меня спёрли что-то около 20 акварелей. Недобрал один балл и стал посещать вечернее платное отделение Суриковского на Таганке. Но через пару лет меня выслали из Москвы за связь с антисоветчиками (Даниэль и Синявский). Так я попал на Урал в Свердловск, где и продолжаю проживать в городе Екатеринбург. Тут моё творчество расцвело махровым цветом и в 1975 я участвовал в первой региональной молодёжной выставке, где был представлен 6 работами (вывесили только 5 почему-то). Участники этой выставки автоматически попадали в молодёжную секцию СХ и в дальнейшем через год уже собственно СХ, однако за негативные высказывания на закрытии выставки, мои документы благополучно потерялись где-то между Москвой и Свердловском. Далее были персональные и не очень выставки в городе, но сразу после 1996 такое безобразие прекратилось из-за ряда бытовых неурядиц (проживание в комнате 13 кв.м в коммунальной квартире с тремя детьми). Так продолжалось последующие 17 лет до 2013, когда чуть ли не силой меня уговорили выставиться в антикафе «Коммуникатор», там я выставил 74 картины в пяти залах. В 2017 принят в Творческий союз художников России, в 2018 принят в Евро-Азиатский союз художников. В 2019 принят в члены Союза русских художников. После этого выставляюсь охотно и везде, куда приглашают. Лев Карнаухов.",
                      "image": "/naive/img/artist-3karn.jpg",
                      "artworks": [
                        {
                          "artworkId": 5,
                          "title": "Променад Командора",
                          "created": "2019",
                          "description": "Нет описания",
                          "techniques": "холст, масло",
                          "dimensions": "70 x 100",
                          "price": 280000,
                          "available": true,
                          "image": "/naive/img/item-5karn.jpg",
                          "artistId": 3,
                          "artistName": "Лев Карнаухов"
                        },
                        {
                          "artworkId": 10,
                          "title": "К вечеру",
                          "created": "1976",
                          "description": "Нет описания",
                          "techniques": "оргалит, масло",
                          "dimensions": "75 x 70",
                          "price": 100000,
                          "available": true,
                          "image": "/naive/img/item-10karn.jpg",
                          "artistId": 3,
                          "artistName": "Лев Карнаухов"
                        },
                        {
                          "artworkId": 15,
                          "title": "string",
                          "created": "string",
                          "description": "string",
                          "techniques": "string",
                          "dimensions": "string",
                          "price": 0,
                          "available": true,
                          "image": "/naive/img/item-15karn.jpg",
                          "artistId": 3,
                          "aristName": "Лев Карнаухов"
                        },
                        {
                          "artworkId": 25,
                          "title": "…и медные трубы",
                          "created": "2019",
                          "description": "Нет описания",
                          "techniques": "холст, масло",
                          "dimensions": "90 x 70",
                          "price": 200000,
                          "available": true,
                          "image": "/naive/img/item-25karn.jpg",
                          "artistId": 3,
                          "artistName": "Лев Карнаухов"
                        },
                        {
                          "artworkId": 27,
                          "title": "3 часа. Февраль",
                          "created": "2003",
                          "description": "Нет описания",
                          "techniques": "холст, масло",
                          "dimensions": "70 x 50",
                          "price": 170000,
                          "available": true,
                          "image": "/naive/img/item-27karn.jpg",
                          "artistId": 3,
                          "artistName": "Лев Карнаухов"
                        }
                      ]
                    }
                  },
                  "Example 4": {
                    "value": {
                      "id": 4,
                      "firstName": "Натта",
                      "lastName": "Конышева",
                      "bio": "Конышева Натта Ивановна (род. в 1935) — художник старшего поколения советского авангарда, мастер «репортажной живописи с элементами чудес». Окончила Московский полиграфический институт (1959), где ее наставником был Элий Белютин, создатель студии «Новая реальность». В 1960–70-х работала в промграфике, иллюстрировала книги для издательств «Географгиз», «Советский писатель» и Алтайского книжного издательства. Член Творческого объединения женщин-художников «Ирида». В 1974 вступила в МОССХ (Московский Союз Художников), а позднее — в Горком графиков: «И там и тут её недолюбливали. “Иди к своим авангардистам!” — говорили в МОССХе. “Иди в свой МОССХ!” — говорили в Горкоме графиков. Но Натта не унывала, пробиваясь на выставки и туда, и сюда» (художник Дмитрий Широков). За спиной художницы большой список экспозиций, который начинается с неформальных «квартирников» и полуразрешённых показов на свежем воздухе вроде «бульдозерной выставки». Персональные выставки Натты Конышевой минимум 7 раз были в Москве и дважды во Франции (1988, 1994). А весной 2016 в пространстве музея АРТ4 в Москве прошла выставка, приуроченная к 80-летию художницы, на которой были показаны произведения 1970–80-х годов из коллекции Игоря Маркина и живописные полотна 2000–2005 годов (собрание М. Егорова и Е. Комаренко). Работы Конышевой находятся в коллекциях Русского музея и Третьяковской галереи, а также в других крупных собраниях.",
                      "image": "/naive/img/artist-4kony.jpg",
                      "artworks": [
                        {
                          "artworkId": 3,
                          "title": "Вера Лукницкая",
                          "created": "1986",
                          "description": "Нет описания",
                          "techniques": "холст, масло",
                          "dimensions": "78,5 x 88",
                          "price": 160000,
                          "available": true,
                          "image": "/naive/img/item-3kony.jpg",
                          "artistId": 4,
                          "artistName": "Натта Конышева"
                        },
                        {
                          "artworkId": 17,
                          "title": "Диснейленд. Париж",
                          "created": "1996",
                          "description": "Нет описания",
                          "techniques": "холст, масло",
                          "dimensions": "неизв",
                          "price": 180000,
                          "available": true,
                          "image": "/naive/img/item-17kony.jpg",
                          "artistId": 4,
                          "artistName": "Натта Конышева"
                        },
                        {
                          "artworkId": 19,
                          "title": "Дети Д. Широкова",
                          "created": "1980",
                          "description": "Нет описания",
                          "techniques": "оргалит, масло",
                          "dimensions": "55 x 45,5",
                          "price": 120000,
                          "available": true,
                          "image": "/naive/img/item-19kony.jpg",
                          "artistId": 4,
                          "artistName": "Натта Конышева"
                        }
                      ]
                    }
                  },
                  "Example 5": {
                    "value": {
                      "id": 5,
                      "firstName": "Михаил",
                      "lastName": "Ржанников",
                      "bio": "Ржанников Михаил Александрович (1930-2004) - художник наивного направления примитивизма. Основами живописной техники овладел в Липецком клубе самодеятельных художников.\nЕго картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду.\nРжанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой.\nМножество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.\nГоворят, наивное - значит непрофессиональное, неучёное. Не получил высшего художественного образования - значит ты - представитель наивного искусства. А как же тогда наш мэтр Анатолий Осмоловский? Или Джефф Кунс, самый дорогой американский художник, который, как написано в Википедии, 'будучи подростком, посещал школу в Художественном институте Чикаго и Мэрилендский художественный колледж' - и всё. Неужели они - наивные представители искусства, эти звёзды контемпорари арта? Нет, конечно. Настоящее наивное искусство , как любовь, простодушно и неискушенно. Творчество Ржанникова М.А. именно такое и есть.",
                      "image": "/naive/img/artist-5rzha.jpg",
                      "artworks": [
                        {
                          "artworkId": 13,
                          "title": "На пруду",
                          "created": "1992",
                          "description": "Нет описания",
                          "techniques": "ДВП, масло",
                          "dimensions": "58 x 54",
                          "price": 0,
                          "available": false,
                          "image": "/naive/img/item-13rzha.jpg",
                          "artistId": 5,
                          "artistName": "Михаил Ржанников"
                        }
                      ]
                    }
                  },
                  "Example 6": {
                    "value": {
                      "id": 6,
                      "firstName": "Виктор",
                      "lastName": "Тимофеев",
                      "bio": "Виктор Тимофеев появился на свет в Казани 8 марта 1954 года.\nПуть в искусство для него был долог и извилист. Когда в 17 лет он пришел маляром в декоративный цех Большого драматического театра им. В.И. Качалова, то его заворожил мир, преображающий и творящий новую действительность. Знакомство и работа с театральными художниками над декорациями к спектаклям укрепили его в желании заняться рисованием. Параллельно в 1982 году он поступает на театрально-декорационное отделение Казанского театрального училища. Большое значение имело в жизни и становлении художника Тимофеева общение с классиком татарского изобразительного искусства Баки Урманче (1897-1990).\nВ творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности.\nРаботы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                      "image": "/naive/img/artist-6timo.jpg",
                      "artworks": [
                        {
                          "artworkId": 1,
                          "title": "Бородатые лица зверей",
                          "created": "2015",
                          "description": "По дороге в мастерскую я подбираю какую-нибудь фанерку или дощечку. Ничего не выпиливаю, не равняю края. Оставляю всё как есть. Проще простого, пойти и купить лист ДВП, но мне интереснее найти обрезок на помойке. У него ведь уже есть какая-то своя судьба, а я ему продлеваю жизнь! Беру краску, которая окажется под рукой, и просто крашу. Двигаю рукой — вверх-вниз, туда-сюда… Медитирую. Думаю, что в это время моей рукой водит Бог. Во как! Надо доверять себе. Не мешать. Не бороться с самим собой. Уважительно относиться. Рисовать я не умел и до сих пор не умею, в этом пора признаться. Но творить люблю. Прямо сам балдею! Как-то, когда я работал подмастерьем у Баки Урманче, он подозвал меня и говорит: «Вот, будем, Витя, с тобой картину писать». Я ему честно сказал, что не умею. А он: «Я тебя научу, не переживай. И не таких…» Но главный урок мастера: не бояться прежде всего самого себя!",
                          "techniques": "ДВП, масло",
                          "dimensions": "неизв",
                          "price": 0,
                          "available": false,
                          "image": "/naive/img/item-1timo.jpg",
                          "artistId": 6,
                          "aristName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 9,
                          "title": "200 лет Бородино",
                          "created": "2012",
                          "description": "Нет описания",
                          "techniques": "ДВП, масло",
                          "dimensions": "29,5 x 40",
                          "price": 25000,
                          "available": true,
                          "image": "/naive/img/item-9timo.jpg",
                          "artistId": 6,
                          "aristName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 11,
                          "title": "Преображение",
                          "created": "2011",
                          "description": "— Главное в живописи  — быть интересным. Само умение рисовать не делает человека художником, потому как умение рисовать (писать) — это понятие относительное, а умение чувствовать — вполне конкретное. Работа художника — это глас вопиющего в пустыне. Хорошо, чтобы его услышали. Кому-то везет больше, раздается  эхо. Его «А-аааа!» разносится по всему миру.",
                          "techniques": "ДВП, масло",
                          "dimensions": "70 × 50",
                          "price": 0,
                          "available": false,
                          "image": "/naive/img/item-11timo.jpg",
                          "artistId": 6,
                          "aristName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 12,
                          "title": "Пора тополиного пуха",
                          "created": "2010",
                          "description": "Интуитивно подбирая краски, работая в условиях испепеляющей жары 2010 года он передал настроение того лета, воплотил на ДВП масляными красками атмосферу не выносимой жары.",
                          "techniques": "ДВП, масло",
                          "dimensions": "60 × 50",
                          "price": 0,
                          "available": false,
                          "image": "/naive/img/item-12timo.jpg",
                          "artistId": 6,
                          "aristName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 14,
                          "title": "Сакс протяжно тянет родину",
                          "created": "год не указан",
                          "description": "Нет описания",
                          "techniques": "ДВП, масло",
                          "dimensions": "61 x 51",
                          "price": 60000,
                          "available": true,
                          "image": "/naive/img/item-14timo.jpg",
                          "artistId": 6,
                          "aristName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 18,
                          "title": "Голубка",
                          "created": "год не указан",
                          "description": "Нет описания",
                          "techniques": "холст, печать",
                          "dimensions": "92 x 100",
                          "price": 12000,
                          "available": true,
                          "image": "/naive/img/item-18timo.jpg",
                          "artistId": 6,
                          "artistName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 20,
                          "title": "Праздник",
                          "created": "2005",
                          "description": "Нет описания",
                          "techniques": "ДВП, масло",
                          "dimensions": "75 x 75",
                          "price": 143000,
                          "available": true,
                          "image": "/naive/img/item-20timo.jpg",
                          "artistId": 6,
                          "artistName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 23,
                          "title": "На золотом крыльце",
                          "created": "2013",
                          "description": "Нет описания",
                          "techniques": "масло",
                          "dimensions": "44 x 74",
                          "price": 42900,
                          "available": true,
                          "image": "/naive/img/item-23timo.jpg",
                          "artistId": 6,
                          "artistName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 26,
                          "title": "Джаз",
                          "created": "2006",
                          "description": "Нет описания",
                          "techniques": "ДВП, масло",
                          "dimensions": "63 x 89",
                          "price": 143000,
                          "available": true,
                          "image": "/naive/img/item-26timo.jpg",
                          "artistId": 6,
                          "artistName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 28,
                          "title": "Благовещенье",
                          "created": "2003",
                          "description": "Нет описания",
                          "techniques": "холст, масло",
                          "dimensions": "71 x 57,5",
                          "price": 143000,
                          "available": true,
                          "image": "/naive/img/item-28timo.jpg",
                          "artistId": 6,
                          "artistName": "Виктор Тимофеев"
                        },
                        {
                          "artworkId": 29,
                          "title": "Первоцвет",
                          "created": "2014",
                          "description": "Нет описания",
                          "techniques": "ДВП, масло",
                          "dimensions": "45 x 60",
                          "price": 42900,
                          "available": true,
                          "image": "/naive/img/item-29timo.jpg",
                          "artistId": 6,
                          "artistName": "Виктор Тимофеев"
                        }
                      ]
                    }
                  },
                  "Example 7": {
                    "value": {
                      "id": 7,
                      "firstName": "Илья",
                      "lastName": "Фролов",
                      "bio": "Илья Фролов – художник из Челябинска. Около десяти лет жил в Москве и Санкт-Петербурге. Потом уехал в Испанию на полгода за яркими красками и вдохновением. Вернулся в Челябинск и продолжил заниматься фотографией. В какой-то момент Илья понял, что не может максимально влиять на изображение, и первые опыты в расширении возможностей визуализации были в составлении коллажей. По настоянию подруги-художницы начал работать акрилом. «О живописи: «Пой как птица, если не можешь не петь. Если можешь не петь — не пой» — для меня это очень понятное и верное высказывание. Чтобы верно донести то, что я думаю через живопись, приходится иногда «неверно» писать картины. Поэтому я не ограничиваю себя стилистически или содержательно. Живопись, фотография или дизайн — это просто части жизни, которую я живу, а не отдельные «специальные» занятия.»\n",
[...]
