{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "fkwm2uq8ac6ji"
  },
  "info": {
    "title": "naiveart",
    "version": "1.0",
    "contact": {
      "name": "Alena G",
      "url": "https://alena.example.com",
      "email": "alena.guillaume4@gmail.com"
    },
    "termsOfService": "https://alena.example.com/termsofuse",
    "license": {
      "name": "MIT Licence",
      "url": "https://mit-license.org/"
    },
    "summary": "API for an art gallery",
    "description": "Learning project: API for managing a Naive Art gallery and shop"
  },
  "servers": [
    {
      "url": "https://loutre.stoplight.io"
    }
  ],
  "tags": [
    {
      "name": "Artist",
      "description": "End-artist information"
    },
    {
      "name": "Artwork",
      "description": "End-artwork information"
    },
    {
      "name": "Users",
      "description": "End-user information"
    }
  ],
  "paths": {
    "/users/{userId}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "Id of an existing user."
        }
      ],
      "get": {
        "summary": "Get User Info by User ID",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "Get User Alice Smith": {
                    "value": {
                      "id": 142,
                      "firstName": "Alice",
                      "lastName": "Smith",
                      "email": "alice.smith@gmail.com",
                      "dateOfBirth": "1997-10-31",
                      "emailVerified": true,
                      "signUpDate": "2019-08-24"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          }
        },
        "operationId": "get-users-userId",
        "description": "Retrieve the information of the user with the matching user ID."
      },
      "patch": {
        "summary": "Update User Information",
        "operationId": "patch-users-userId",
        "responses": {
          "200": {
            "description": "User Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "Updated User Rebecca Baker": {
                    "value": {
                      "id": 13,
                      "firstName": "Rebecca",
                      "lastName": "Baker",
                      "email": "rebecca@gmail.com",
                      "dateOfBirth": "1985-10-02",
                      "emailVerified": false,
                      "createDate": "2019-08-24"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "description": "Update the information of an existing user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "If a new email is given, the user's email verified property will be set to false."
                  },
                  "dateOfBirth": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Update First Name": {
                  "value": {
                    "firstName": "Rebecca"
                  }
                },
                "Update Email": {
                  "value": {
                    "email": "rebecca@gmail.com"
                  }
                },
                "Update Last Name & Date of Birth": {
                  "value": {
                    "lastName": "Baker",
                    "dateOfBirth": "1985-10-02"
                  }
                }
              }
            }
          },
          "description": "Patch user properties to update."
        }
      }
    },
    "/user": {
      "post": {
        "summary": "Create New User",
        "operationId": "post-user",
        "responses": {
          "200": {
            "description": "User Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "New User Bob Fellow": {
                    "value": {
                      "id": 12,
                      "firstName": "Bob",
                      "lastName": "Fellow",
                      "email": "bob.fellow@gmail.com",
                      "dateOfBirth": "1996-08-24",
                      "emailVerified": false,
                      "createDate": "2020-11-18"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Required Information"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "dateOfBirth"
                ]
              },
              "examples": {
                "Create User Bob Fellow": {
                  "value": {
                    "firstName": "Bob",
                    "lastName": "Fellow",
                    "email": "bob.fellow@gmail.com",
                    "dateOfBirth": "1996-08-24"
                  }
                }
              }
            }
          },
          "description": "Post the necessary fields for the API to create a new user."
        },
        "description": "Create a new user."
      }
    },
    "/artworks": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artwork"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artwork"
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "id": 1,
                        "title": "Бородатые лица зверей",
                        "artist": {
                          "artistId": 1,
                          "firstName": "Виктор",
                          "lastName": "Тимофеев",
                          "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                          "artistImage": "/img/artist-1.jpg"
                        },
                        "created": "2015",
                        "description": "По дороге в мастерскую я подбираю какую-нибудь фанерку или дощечку. Ничего не выпиливаю, не равняю края. Оставляю всё как есть. Проще простого, пойти и купить лист ДВП, но мне интереснее найти обрезок на помойке. У него ведь уже есть какая-то своя судьба, а я ему продлеваю жизнь! Беру краску, которая окажется под рукой, и просто крашу. Двигаю рукой — вверх-вниз, туда-сюда… Медитирую. Думаю, что в это время моей рукой водит Бог. Во как! Надо доверять себе. Не мешать. Не бороться с самим собой. Уважительно относиться. Рисовать я не умел и до сих пор не умею, в этом пора признаться. Но творить люблю. Прямо сам балдею! Как-то, когда я работал подмастерьем у Баки Урманче, он подозвал меня и говорит: «Вот, будем, Витя, с тобой картину писать». Я ему честно сказал, что не умею. А он: «Я тебя научу, не переживай. И не таких…» Но главный урок мастера: не бояться прежде всего самого себя!",
                        "techniques": "ДВП, масло",
                        "dimensions": "неизв",
                        "price": 18000,
                        "available": true,
                        "onSale": false,
                        "image": "/naive/img/item-1-fullsize.jpg",
                        "thumbnail": "/naive/img/item-1.jpg"
                      },
                      {
                        "id": 2,
                        "title": "Котенок",
                        "artist": {
                          "artistId": 2,
                          "firstName": "Татьяна",
                          "lastName": "Еленок",
                          "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
                          "artistImage": "/img/artist-2.jpg"
                        },
                        "created": "1973",
                        "description": "Картины Еленок красочны, но цвет для нее – это раскраска предметов и плоскостей, в результате в работах больше пестроты, чем цветового единства. Художнице, несомненно, присуще чувство юмора и изобретательность в умении комбинировать мотивы, почерпнутые из самых разных источников. Ее всегда отличала любознательность, желание, как можно больше увидеть, во всем принять участие. Ее картины демонстрировались на десятках выставок, часто вместе с произведениями профессиональных художников",
                        "techniques": "картон, гуашь",
                        "dimensions": "60×45",
                        "price": 0,
                        "available": false,
                        "onSale": false,
                        "image": "/naive/img/item-2-fullsize.jpg",
                        "thumbnail": "/naive/img/item-2.jpg"
                      },
                      {
                        "id": 3,
                        "title": "Преображение",
                        "artist": {
                          "artistId": 1,
                          "firstName": "Виктор",
                          "lastName": "Тимофеев",
                          "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                          "artistImage": "/img/artist-1.jpg"
                        },
                        "created": "2011",
                        "description": "— Главное в живописи  — быть интересным. Само умение рисовать не делает человека художником, потому как умение рисовать (писать) — это понятие относительное, а умение чувствовать — вполне конкретное. Работа художника — это глас вопиющего в пустыне. Хорошо, чтобы его услышали. Кому-то везет больше, раздается  эхо. Его «А-аааа!» разносится по всему миру.",
                        "techniques": "ДВП, масло",
                        "dimensions": "70×50",
                        "price": 18000,
                        "available": true,
                        "onSale": false,
                        "image": "/naive/img/item-3-fullsize.jpg",
                        "thumbnail": "/naive/img/item-3.jpg"
                      },
                      {
                        "id": 4,
                        "title": "Пора тополиного пуха",
                        "artist": {
                          "artistId": 1,
                          "firstName": "Виктор",
                          "lastName": "Тимофеев",
                          "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                          "artistImage": "/img/artist-1.jpg"
                        },
                        "created": "2010",
                        "description": "Интуитивно подбирая краски, работая в условиях испепеляющей жары 2010 года он передал настроение того лета, воплотил на ДВП масляными красками атмосферу не выносимой жары.",
                        "techniques": "ДВП, масло",
                        "dimensions": "60×50",
                        "price": 24000,
                        "available": true,
                        "onSale": false,
                        "image": "/naive/img/item-4-fullsize.jpg",
                        "thumbnail": "/naive/img/item-4.jpg"
                      },
                      {
                        "id": 5,
                        "title": "На пруду",
                        "artist": {
                          "artistId": 3,
                          "firstName": "Михаил",
                          "lastName": "Ржанников",
                          "bio": "Его картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду. Ржанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой. Множество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.",
                          "artistImage": "/img/artist-3.jpg"
                        },
                        "created": "1992",
                        "description": "Нет описания",
                        "techniques": "ДВП, масло",
                        "dimensions": "58x54",
                        "price": 15000,
                        "available": true,
                        "onSale": false,
                        "image": "/naive/img/item-5-fullsize.jpg",
                        "thumbnail": "/naive/img/item-5.jpg"
                      },
                      {
                        "id": 6,
                        "title": "Кот\"",
                        "artist": {
                          "artistId": 4,
                          "firstName": "Иван",
                          "lastName": "Генералич",
                          "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
                          "artistImage": "/img/artist-4.jpg"
                        },
                        "created": "1978",
                        "description": "Произведения Генералича — камерных размеров и написаны маслом по стеклу. Подобным образом в старину писались иконки в альпийских областях Хорватии и Словении — свет, проходя через стекло, создает особо насыщенный колорит. Художник верен народному промыслу и в манере изображать мир: уплощенное изображение, четкость контура, ритмичность ковровой композиции, в которой все детали равновелики и равнозначны. Народное видение мира, наивное и мудрое, сочетается с опытом знакомства художника с массовой изобразительной продукцией — кичем, что породило неповторимый сплав детской непосредственности восприятия со смелостью художественных решений. Творчество Генералича, оторвавшееся от народного ремесла и не примкнувшее к «образованному» искусству, образовало особую нишу, влившись в интернациональный художественный процесс. ",
                        "techniques": "стекло, масло",
                        "dimensions": "41x54",
                        "price": 0,
                        "available": false,
                        "onSale": false,
                        "image": "/naive/img/item-6-fullsize.jpg",
                        "thumbnail": "/naive/img/item-6.jpg"
                      },
                      {
                        "id": 7,
                        "title": "Река жизни",
                        "artist": {
                          "artistId": 5,
                          "firstName": "Альфрид",
                          "lastName": "Шаймарданов",
                          "bio": "За наивностью форм Альфрида Шаймарданова скрывается целый мир с собственной философией и мифологией. Творчество художника отличается высокой концентрацией взрослой иронии и детского восприятия окружающего мира. Трогательный и самобытный мир художника буквально пропитан многослойной символикой, которая даже внимательному зрителю и наблюдателю открывается не сразу: этой фантасмагорией, в хорошем смысле этого слова, нужно проникнуться, чтобы с каждым знакомством мысли Альфрида становились еще ближе и понятнее. Декоративность, гротеск, графичность, налет «мультяшности» и теплота, свойственная работам художника очень нравятся зрителям, коллекционерам и критикам: художник не может пожаловаться на недостаток зрительских симпатий или негативное восприятие экспертов. Картины Шаймарданова – это редчайший дар, невероятно ценный тем, что помогает нам вспомнить забытое – своё историческое детство.",
                          "artistImage": "/img/artist-5.jpg"
                        },
                        "created": "2013",
                        "description": "Образ будущей картины возникает спонтанно. Любая ситуация, сцена, фраза, сказанная кем-то или прочитанная мною, может натолкнуть на сюжет новой картины. Например, взять мою работу «Река жизни» с зебрами. Как-то случайно увидел в программе «Дискавери», как зебры, с риском для жизни, во время ежегодной миграции переходят реку. Река кишит крокодилами, а на берегу их могут поджидать ещё и львы. У меня сразу возникла ассоциация с нашей жизнью. Иногда, чтобы добиться цели, ты упорно стремишься туда, где, кажется, и лучше, и безопаснее. Преодолеваешь множество препятствий, а достичь цели порой так и не удаётся.",
                        "techniques": "холст, масло",
                        "dimensions": "130х100",
                        "price": 45000,
                        "available": true,
                        "onSale": false,
                        "image": "/naive/img/item-7-fullsize.jpg",
                        "thumbnail": "/naive/img/item-7.jpg"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-artworks",
        "description": "Fetches list of all artworks"
      }
    },
    "/artworks/{artworkId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "artworkId",
          "in": "path",
          "required": true,
          "description": "Fetches single piece of artwork by id"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artwork"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artwork"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": 1,
                      "title": "Бородатые лица зверей",
                      "artist": {
                        "artistId": 1,
                        "firstName": "Виктор",
                        "lastName": "Тимофеев",
                        "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                        "artistImage": "/img/artist-1.jpg"
                      },
                      "created": "2015",
                      "description": "По дороге в мастерскую я подбираю какую-нибудь фанерку или дощечку. Ничего не выпиливаю, не равняю края. Оставляю всё как есть. Проще простого, пойти и купить лист ДВП, но мне интереснее найти обрезок на помойке. У него ведь уже есть какая-то своя судьба, а я ему продлеваю жизнь! Беру краску, которая окажется под рукой, и просто крашу. Двигаю рукой — вверх-вниз, туда-сюда… Медитирую. Думаю, что в это время моей рукой водит Бог. Во как! Надо доверять себе. Не мешать. Не бороться с самим собой. Уважительно относиться. Рисовать я не умел и до сих пор не умею, в этом пора признаться. Но творить люблю. Прямо сам балдею! Как-то, когда я работал подмастерьем у Баки Урманче, он подозвал меня и говорит: «Вот, будем, Витя, с тобой картину писать». Я ему честно сказал, что не умею. А он: «Я тебя научу, не переживай. И не таких…» Но главный урок мастера: не бояться прежде всего самого себя!",
                      "techniques": "ДВП, масло",
                      "dimensions": "неизв",
                      "price": 18000,
                      "available": true,
                      "onSale": false,
                      "image": "/naive/img/item-1-fullsize.jpg",
                      "thumbnail": "/naive/img/item-1.jpg"
                    }
                  },
                  "Example 2": {
                    "value": {
                      "id": 2,
                      "title": "Котенок",
                      "artist": {
                        "artistId": 2,
                        "firstName": "Татьяна",
                        "lastName": "Еленок",
                        "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
                        "artistImage": "/img/artist-2.jpg"
                      },
                      "created": "1973",
                      "description": "Картины Еленок красочны, но цвет для нее – это раскраска предметов и плоскостей, в результате в работах больше пестроты, чем цветового единства. Художнице, несомненно, присуще чувство юмора и изобретательность в умении комбинировать мотивы, почерпнутые из самых разных источников. Ее всегда отличала любознательность, желание, как можно больше увидеть, во всем принять участие. Ее картины демонстрировались на десятках выставок, часто вместе с произведениями профессиональных художников",
                      "techniques": "картон, гуашь",
                      "dimensions": "60×45",
                      "price": 0,
                      "available": false,
                      "onSale": false,
                      "image": "/naive/img/item-2-fullsize.jpg",
                      "thumbnail": "/naive/img/item-2.jpg"
                    }
                  },
                  "Example 3": {
                    "value": {
                      "id": 3,
                      "title": "Преображение",
                      "artist": {
                        "artistId": 1,
                        "firstName": "Виктор",
                        "lastName": "Тимофеев",
                        "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                        "artistImage": "/img/artist-1.jpg"
                      },
                      "created": "2011",
                      "description": "— Главное в живописи  — быть интересным. Само умение рисовать не делает человека художником, потому как умение рисовать (писать) — это понятие относительное, а умение чувствовать — вполне конкретное. Работа художника — это глас вопиющего в пустыне. Хорошо, чтобы его услышали. Кому-то везет больше, раздается  эхо. Его «А-аааа!» разносится по всему миру.",
                      "techniques": "ДВП, масло",
                      "dimensions": "70×50",
                      "price": 18000,
                      "available": true,
                      "onSale": false,
                      "image": "/naive/img/item-3-fullsize.jpg",
                      "thumbnail": "/naive/img/item-3.jpg"
                    }
                  },
                  "Example 4": {
                    "value": {
                      "id": 4,
                      "title": "Пора тополиного пуха",
                      "artist": {
                        "artistId": 1,
                        "firstName": "Виктор",
                        "lastName": "Тимофеев",
                        "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                        "artistImage": "/img/artist-1.jpg"
                      },
                      "created": "2010",
                      "description": "Интуитивно подбирая краски, работая в условиях испепеляющей жары 2010 года он передал настроение того лета, воплотил на ДВП масляными красками атмосферу не выносимой жары.",
                      "techniques": "ДВП, масло",
                      "dimensions": "60×50",
                      "price": 24000,
                      "available": true,
                      "onSale": false,
                      "image": "/naive/img/item-4-fullsize.jpg",
                      "thumbnail": "/naive/img/item-4.jpg"
                    }
                  },
                  "Example 5": {
                    "value": {
                      "id": 5,
                      "title": "На пруду",
                      "artist": {
                        "artistId": 3,
                        "firstName": "Михаил",
                        "lastName": "Ржанников",
                        "bio": "Его картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду. Ржанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой. Множество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.",
                        "artistImage": "/img/artist-3.jpg"
                      },
                      "created": "1992",
                      "description": "Нет описания",
                      "techniques": "ДВП, масло",
                      "dimensions": "58x54",
                      "price": 15000,
                      "available": true,
                      "onSale": false,
                      "image": "/naive/img/item-5-fullsize.jpg",
                      "thumbnail": "/naive/img/item-5.jpg"
                    }
                  },
                  "Example 6": {
                    "value": {
                      "id": 6,
                      "title": "Кот\"",
                      "artist": {
                        "artistId": 4,
                        "firstName": "Иван",
                        "lastName": "Генералич",
                        "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
                        "artistImage": "/img/artist-4.jpg"
                      },
                      "created": "1978",
                      "description": "Произведения Генералича — камерных размеров и написаны маслом по стеклу. Подобным образом в старину писались иконки в альпийских областях Хорватии и Словении — свет, проходя через стекло, создает особо насыщенный колорит. Художник верен народному промыслу и в манере изображать мир: уплощенное изображение, четкость контура, ритмичность ковровой композиции, в которой все детали равновелики и равнозначны. Народное видение мира, наивное и мудрое, сочетается с опытом знакомства художника с массовой изобразительной продукцией — кичем, что породило неповторимый сплав детской непосредственности восприятия со смелостью художественных решений. Творчество Генералича, оторвавшееся от народного ремесла и не примкнувшее к «образованному» искусству, образовало особую нишу, влившись в интернациональный художественный процесс. ",
                      "techniques": "стекло, масло",
                      "dimensions": "41x54",
                      "price": 0,
                      "available": false,
                      "onSale": false,
                      "image": "/naive/img/item-6-fullsize.jpg",
                      "thumbnail": "/naive/img/item-6.jpg"
                    }
                  },
                  "Example 7": {
                    "value": {
                      "id": 7,
                      "title": "Река жизни",
                      "artist": {
                        "artistId": 5,
                        "firstName": "Альфрид",
                        "lastName": "Шаймарданов",
                        "bio": "За наивностью форм Альфрида Шаймарданова скрывается целый мир с собственной философией и мифологией. Творчество художника отличается высокой концентрацией взрослой иронии и детского восприятия окружающего мира. Трогательный и самобытный мир художника буквально пропитан многослойной символикой, которая даже внимательному зрителю и наблюдателю открывается не сразу: этой фантасмагорией, в хорошем смысле этого слова, нужно проникнуться, чтобы с каждым знакомством мысли Альфрида становились еще ближе и понятнее. Декоративность, гротеск, графичность, налет «мультяшности» и теплота, свойственная работам художника очень нравятся зрителям, коллекционерам и критикам: художник не может пожаловаться на недостаток зрительских симпатий или негативное восприятие экспертов. Картины Шаймарданова – это редчайший дар, невероятно ценный тем, что помогает нам вспомнить забытое – своё историческое детство.",
                        "artistImage": "/img/artist-5.jpg"
                      },
                      "created": "2013",
                      "description": "Образ будущей картины возникает спонтанно. Любая ситуация, сцена, фраза, сказанная кем-то или прочитанная мною, может натолкнуть на сюжет новой картины. Например, взять мою работу «Река жизни» с зебрами. Как-то случайно увидел в программе «Дискавери», как зебры, с риском для жизни, во время ежегодной миграции переходят реку. Река кишит крокодилами, а на берегу их могут поджидать ещё и львы. У меня сразу возникла ассоциация с нашей жизнью. Иногда, чтобы добиться цели, ты упорно стремишься туда, где, кажется, и лучше, и безопаснее. Преодолеваешь множество препятствий, а достичь цели порой так и не удаётся.",
                      "techniques": "холст, масло",
                      "dimensions": "130х100",
                      "price": 45000,
                      "available": true,
                      "onSale": false,
                      "image": "/naive/img/item-7-fullsize.jpg",
                      "thumbnail": "/naive/img/item-7.jpg"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Artwork not found"
          }
        },
        "operationId": "get-artworks-artworkId",
        "description": "Fetches one specifique artwork"
      }
    },
    "/artists": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artist"
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "artistId": 1,
                        "firstName": "Виктор",
                        "lastName": "Тимофеев",
                        "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                        "image": "/img/artist-1.jpg"
                      },
                      {
                        "artistId": 2,
                        "firstName": "Татьяна",
                        "lastName": "Еленок",
                        "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
                        "image": "/img/artist-2.jpg"
                      },
                      {
                        "artistId": 3,
                        "firstName": "Михаил",
                        "lastName": "Ржанников",
                        "bio": "Его картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду. Ржанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой. Множество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.",
                        "image": "/img/artist-3.jpg"
                      },
                      {
                        "artistId": 4,
                        "firstName": "Иван",
                        "lastName": "Генералич",
                        "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
                        "image": "/img/artist-4.jpg"
                      },
                      {
                        "artistId": 5,
                        "firstName": "Альфрид",
                        "lastName": "Шаймарданов",
                        "bio": "За наивностью форм Альфрида Шаймарданова скрывается целый мир с собственной философией и мифологией. Творчество художника отличается высокой концентрацией взрослой иронии и детского восприятия окружающего мира. Трогательный и самобытный мир художника буквально пропитан многослойной символикой, которая даже внимательному зрителю и наблюдателю открывается не сразу: этой фантасмагорией, в хорошем смысле этого слова, нужно проникнуться, чтобы с каждым знакомством мысли Альфрида становились еще ближе и понятнее. Декоративность, гротеск, графичность, налет «мультяшности» и теплота, свойственная работам художника очень нравятся зрителям, коллекционерам и критикам: художник не может пожаловаться на недостаток зрительских симпатий или негативное восприятие экспертов. Картины Шаймарданова – это редчайший дар, невероятно ценный тем, что помогает нам вспомнить забытое – своё историческое детство.",
                        "image": "/img/artist-5.jpg"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-artists",
        "description": "List of all artists"
      }
    },
    "/artists/{artistId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "artistId",
          "in": "path",
          "required": true,
          "description": "single artist by id"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Artist"
        ],
        "responses": {
          "500": {
            "description": "Artist not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "artistId": 1,
                      "firstName": "Виктор",
                      "lastName": "Тимофеев",
                      "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
                      "image": "/img/artist-1.jpg"
                    }
                  },
                  "Example 2": {
                    "value": {
                      "artistId": 2,
                      "firstName": "Татьяна",
                      "lastName": "Еленок",
                      "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
                      "image": "/img/artist-2.jpg"
                    }
                  },
                  "Example 3": {
                    "value": {
                      "artistId": 3,
                      "firstName": "Михаил",
                      "lastName": "Ржанников",
                      "bio": "Его картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду. Ржанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой. Множество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.",
                      "image": "/img/artist-3.jpg"
                    }
                  },
                  "Example 4": {
                    "value": {
                      "artistId": 4,
                      "firstName": "Иван",
                      "lastName": "Генералич",
                      "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
                      "image": "/img/artist-4.jpg"
                    }
                  },
                  "Example 5": {
                    "value": {
                      "artistId": 5,
                      "firstName": "Альфрид",
                      "lastName": "Шаймарданов",
                      "bio": "За наивностью форм Альфрида Шаймарданова скрывается целый мир с собственной философией и мифологией. Творчество художника отличается высокой концентрацией взрослой иронии и детского восприятия окружающего мира. Трогательный и самобытный мир художника буквально пропитан многослойной символикой, которая даже внимательному зрителю и наблюдателю открывается не сразу: этой фантасмагорией, в хорошем смысле этого слова, нужно проникнуться, чтобы с каждым знакомством мысли Альфрида становились еще ближе и понятнее. Декоративность, гротеск, графичность, налет «мультяшности» и теплота, свойственная работам художника очень нравятся зрителям, коллекционерам и критикам: художник не может пожаловаться на недостаток зрительских симпатий или негативное восприятие экспертов. Картины Шаймарданова – это редчайший дар, невероятно ценный тем, что помогает нам вспомнить забытое – своё историческое детство.",
                      "image": "/img/artist-5.jpg"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-artists-artistId",
        "description": "Fetch one specifique artist by their Id"
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "single user",
        "examples": [
          {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the given user."
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1997-10-31"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "Set to true if the user's email has been verified."
          },
          "createDate": {
            "type": "string",
            "format": "date",
            "description": "The date that the user was created."
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "emailVerified"
        ]
      },
      "Artist": {
        "title": "Artist",
        "x-stoplight": {
          "id": "w5ecoemtt8d8l"
        },
        "type": "object",
        "description": "Single artist",
        "properties": {
          "artistId": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "image": {
            "type": "string"
          }
        },
        "required": [
          "artistId",
          "lastName"
        ]
      },
      "Artwork": {
        "title": "Artwork",
        "x-stoplight": {
          "id": "rqhy79eathxml"
        },
        "type": "object",
        "description": "Single artwork",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "artist": {
            "allOf": [
              {
                "properties": {
                  "artistId": {
                    "type": "integer"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "bio": {
                    "type": "string"
                  },
                  "artistImage": {
                    "type": "string"
                  }
                },
                "required": [
                  "artistId",
                  "lastName"
                ]
              }
            ],
            "type": "object"
          },
          "created": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "techniques": {
            "type": "string"
          },
          "dimensions": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "available": {
            "type": "boolean"
          },
          "onSale": {
            "type": "boolean"
          },
          "image": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "artist",
          "available",
          "image",
          "thumbnail"
        ]
      }
    },
    "securitySchemes": {
      "apikey": {
        "name": "apikey",
        "type": "apiKey",
        "in": "query"
      }
    }
  }
}