{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "fkwm2uq8ac6ji"
  },
  "info": {
    "title": "naiveart",
    "version": "1.0",
    "contact": {
      "name": "Alena G",
      "url": "https://alena.example.com",
      "email": "alena.guillaume4@gmail.com"
    },
    "termsOfService": "https://alena.example.com/termsofuse",
    "license": {
      "name": "MIT Licence",
      "url": "https://mit-license.org/"
    },
    "summary": "API for an art gallery",
    "description": "Learning project: API for managing a Naive Art gallery and shop"
  },
  "servers": [
    {
      "url": "https://loutre.stoplight.io"
    }
  ],
  "tags": [
     {
       "name": "Artist",
       "description":"End-artist information"
     },
    {
       "name": "Artwork",
       "description":"End-artwork information"
     },     
     {
       "name": "Users",
       "description":"End-user information"
     }
  ],
  "paths": {
    "/users/{userId}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "Id of an existing user."
        }
      ],
      "get": {
        "summary": "Get User Info by User ID",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "User Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "Get User Alice Smith": {
                    "value": {
                      "id": 142,
                      "firstName": "Alice",
                      "lastName": "Smith",
                      "email": "alice.smith@gmail.com",
                      "dateOfBirth": "1997-10-31",
                      "emailVerified": true,
                      "signUpDate": "2019-08-24"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          }
        },
        "operationId": "get-users-userId",
        "description": "Retrieve the information of the user with the matching user ID."
      },
      "patch": {
        "summary": "Update User Information",
        "operationId": "patch-users-userId",
        "responses": {
          "200": {
            "description": "User Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "Updated User Rebecca Baker": {
                    "value": {
                      "id": 13,
                      "firstName": "Rebecca",
                      "lastName": "Baker",
                      "email": "rebecca@gmail.com",
                      "dateOfBirth": "1985-10-02",
                      "emailVerified": false,
                      "createDate": "2019-08-24"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "description": "Update the information of an existing user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "If a new email is given, the user's email verified property will be set to false."
                  },
                  "dateOfBirth": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Update First Name": {
                  "value": {
                    "firstName": "Rebecca"
                  }
                },
                "Update Email": {
                  "value": {
                    "email": "rebecca@gmail.com"
                  }
                },
                "Update Last Name & Date of Birth": {
                  "value": {
                    "lastName": "Baker",
                    "dateOfBirth": "1985-10-02"
                  }
                }
              }
            }
          },
          "description": "Patch user properties to update."
        }
      }
    },
    "/user": {
      "post": {
        "summary": "Create New User",
        "operationId": "post-user",
        "responses": {
          "200": {
            "description": "User Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "New User Bob Fellow": {
                    "value": {
                      "id": 12,
                      "firstName": "Bob",
                      "lastName": "Fellow",
                      "email": "bob.fellow@gmail.com",
                      "dateOfBirth": "1996-08-24",
                      "emailVerified": false,
                      "createDate": "2020-11-18"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Required Information"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "dateOfBirth"
                ]
              },
              "examples": {
                "Create User Bob Fellow": {
                  "value": {
                    "firstName": "Bob",
                    "lastName": "Fellow",
                    "email": "bob.fellow@gmail.com",
                    "dateOfBirth": "1996-08-24"
                  }
                }
              }
            }
          },
          "description": "Post the necessary fields for the API to create a new user."
        },
        "description": "Create a new user."
      }
    },
    "/artworks": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": ["Artwork"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artwork"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-artworks",
        "description": "List of all artworks"
      },
      "post": {
        "summary": "",
        "operationId": "post-artworks",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Add a new artwork",
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/artworks/{artworkId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "artworkId",
          "in": "path",
          "required": true,
          "description": "single piece of artwork by id"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": ["Artwork"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artwork"
                }
              }
            }
          }
        },
        "operationId": "get-artworks-artworkId",
        "description": "Get one specifique artwork"
      },
      "put": {
        "summary": "",
        "operationId": "put-artworks-artworkId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artwork"
                }
              }
            }
          }
        },
        "description": "Update one specifique artwork"
      },
      "delete": {
        "summary": "",
        "operationId": "delete-artworks-artworkId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove one specifique artwork"
      }
    },
    "/artists": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": ["Artist"],
        "responses": {
          "200": {
            "description": "OK",
            "examples": [
            {
              "id": 1,
              "lastName": "Тимофеев",
              "firstName": "Виктор",
              "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
              "image": "/img/artist-1.jpg"
            },
            {
              "id": 2,
              "lastName": "Еленок",
              "firstName": "Татьяна",
              "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
              "image": "/img/artist-2.jpg"
            },
            {
              "id": 3,
              "lastName": "Alice",
              "firstName": "Smith",
              "bio": "alice.smith@gmail.com",
              "image": "/img/artist-3.jpg"
            },
            {
              "id": 4,
              "lastName": "Ржанников",
              "firstName": "Михаил",
              "bio": "Его картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду. Ржанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой. Множество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.",
              "image": "/img/artist-4.jpg"
            },
            {
              "id": 5,
              "lastName": "Генералич",
              "firstName": "Иван",
              "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
              "image": "/img/artist-5.jpg"
            }
        ],  
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artist"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-artists",
        "description": "List of all artists"
      },
      "post": {
        "summary": "",
        "operationId": "post-artists",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Add a new artist",
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/artists/{artistId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "artistId",
          "in": "path",
          "required": true,
          "description": "single artist by id"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [ 
       "Artist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          }
        },
        "operationId": "get-artists-artistId",
        "description": "Get one specifique artist"
      },
      "put": {
        "summary": "",
        "operationId": "put-artists-artistId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          }
        },
        "description": "Update one specifique artist"
      },
      "delete": {
        "summary": "",
        "operationId": "delete-artists-artistId",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Delete one specifique artist"
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "single user",
        "examples": [
          {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the given user."
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1997-10-31"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "Set to true if the user's email has been verified."
          },
          "createDate": {
            "type": "string",
            "format": "date",
            "description": "The date that the user was created."
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "emailVerified"
        ]
      },
      "Artist": {
        "title": "Artist",
        "x-stoplight": {
          "id": "w5ecoemtt8d8l"
        },
        "type": "object",
        "description": "Single artist",
          "examples": [
            {
              "id": 1,
              "lastName": "Тимофеев",
              "firstName": "Виктор",
              "bio": "В творчестве В. Тимофеева гармонично соединились элементы экспрессионизма и примитивизма, народного лубка и декоративного искусства, иконописи. Столь разнородные стилевые направления дают возможность визуальных «путешествий» в мир литературы, театра, истории, фольклора и религии. Свою роль играют надписи и даты исполнения картин и рисунков, как своего рода рефлексии повседневности. Работы художника находятся в Музее наивного искусства (Москва), Музее традиционного искусства народов мира (Москва), Музее органической культуры (Коломна), Государственном музее изобразительных искусств РТ, Музее Казанского Кремля, Национальном культурном центре «Казань», а также в частных собраниях — Галеев-галерее (Москва), Арт-Наив галерее (Москва) и других коллекциях Москвы, Пскова, Казани, а также США, Канады, Аргентины, Германии, Франции, Голландии, Бельгии, Португалии.",
              "image": "/img/artist-1.jpg"
            },
            {
              "id": 2,
              "lastName": "Еленок",
              "firstName": "Татьяна",
              "bio": "Родилась в 1930 г. на хуторе Марьянском Краснодарского края. В раннем детстве осталась сиротой, выросла в детском доме. Великая Отечественная война помешала получить художественное образование. Окончила специальную школу связи. До выхода на пенсию работала техником телеграфа. С 1973 г. постоянно принимает участие в выставках, персональных и групповых. Работы выставлялись в Германии, Франции, Швеции, в 1984 г. на Международной выставке наивного искусства 'Insita' в Братиславе (Словакия). Участница передвижной выставки Музея наивного искусстваи 'Пушкинские образы в творчестве наивных художников России', экспонировавшейся в 1999 г. в девяти городах России и в Каннах (Франция) во Дворце фестивалей. С 1990 г. - член Международной ассоциации 'Мир культуры'. Член Международной федерации художников при ЮНЕСКО. Представлена во Всемирной энциклопедии наивного искусства (Белград, 1984). Работы находятся во Владимиро-Суздальском музее-заповеднике, Государственном историческом музее, Государственном российском доме народного творчества, Музее наивного искусства в Москве, музее-заповеднике 'Царицыно', частных собраниях в России и за рубежом.",
              "image": "/img/artist-2.jpg"
            },
            {
              "id": 3,
              "lastName": "Alice",
              "firstName": "Smith",
              "bio": "alice.smith@gmail.com",
              "image": "/img/artist-3.jpg"
            },
            {
              "id": 4,
              "lastName": "Ржанников",
              "firstName": "Михаил",
              "bio": "Его картины - классика российского наивного искусства. Первая его картина была написана на простыне, 'чтобы в доме был ковёр'. Его 'ковровая' живопись (по-хорошему ковровая) представляет сцены охоты и рыбалки, огородничества и собирательства. Также в оставленном им наследии -натюрморты с огромными букетами, горами овощей, фруктов, ягод - преимущественно всем тем, что Михаил Александрович выращивал в своем саду. Ржанников начал писать в 50 лет, выставляться - с 1980-1981 гг. с областной выставки. Говорят, что старики плохо слышат, плохо видят, невкусно готовят. Здесь же всё ярко, свежо и вкусно. Его картины наполнены светом, обилием, домашним уютом, оставаясь при этом как будто вынутыми из реальной жизни, которая, к слову, Михаилу Александровичу выдалась нелегкой. Множество произведений посвящены природе родного края - растительности, рекам Урала, причём всё написано по памяти.Интересны охотничьи сцены, написанные по воспоминаниям или по рассказам, слышанным в детстве.",
              "image": "/img/artist-4.jpg"
            },
            {
              "id": 5,
              "lastName": "Генералич",
              "firstName": "Иван",
              "bio": "Хорватский художник, один из величайших представителей наивного искусства ХХ века. Иван Генералич привлек внимание общественности своей персональной выставкой в Париже в 1953 году, благодаря чему во всем мире возродился интерес к самобытному искусству художников-самоучек, а творчество хорвата завоевало огромную популярность и приобрело тысячи поклонников. Генералич активно развивал художественную школу в Хлебине, которая сыграла важнейшую роль в хорватском искусстве, проводил выставки по всему миру, завоевывая награды и почести, был членом Союза хорватских художников и имел большое количество учеников. Художник стал легендой еще при жизни, а его работы является неотъемлемой частью хорватского и мирового искусства.",
              "image": "/img/artist-5.jpg"
            }
        ],  
        "properties": {
          "id": {
            "type": "integer"
          },
          "lastName": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "image": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "lastName"
        ]
      },
      "Artwork": {
        "title": "Artwork",
        "x-stoplight": {
          "id": "rqhy79eathxml"
        },
        "type": "object",
        "description": "Single artwork",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "artist": {
            "allOf": [
              {
                "properties": {
                  "artistId": {
                    "type": "integer"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "bio": {
                    "type": "string"
                  },
                  "artistImage": {
                    "type": "string"
                  }
                },
                "required": [
                  "lastName"
                ]
              }
            ],
            "type": "object"
          },
          "created": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "techniques": {
            "type": "string"
          },
          "dimensions": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "available": {
            "type": "boolean"
          },
          "onSale": {
            "type": "boolean"
          },
          "image": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "artist",
          "available"
        ]
      }
    },
    "securitySchemes": {
      "apikey": {
        "name": "apikey",
        "type": "apiKey",
        "in": "query"
      }
    }
  }
}