@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

img {
  max-width: 100%;
}

//OK

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 29px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
